<div class="col-sm-3">
    <span *ngIf="!task.deleted"><div class="card" (click)="statusToggle()" [class.completed]="task.completed">
        <div class="card-block">
            <p>{{ task.content }}</p>
        </div>
        <div class="card-footer">
            <span *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i>Not Complete</span>
            <span *ngIf="task.completed"><i class="fa fa-check" aria-hidden="true"></i>Completed</span>
        </div>
        <div class="soft-delete" (click)="softDelete()" [class.deleted]="task.deleted">
            <i class="fa fa-eraser" aria-hidden="true">delete task</i>
        </div>
    </div></span>
</div>