.card {
    border-radius: 0;
    cursor: pointer;
}
.card,
.card-footer {
    background-color: #FFFFA5;
    border: none;
}
.card.completed,
.card.completed .card-footer {
    background-color: #EEE;
    color: #CCC;
}
.card.completed i {
    color: green;
    padding-right: .5rem;
}

.card-footer {
    text-align: right;
}

i {
    color: red;
    padding-right: .5rem;
}

.card.completed .soft-delete i {
    color: #CCC;
}
.card.completed .soft-delete i:hover {
    color: black;
}


.soft-delete i {
    color: black;
    position:absolute;
    top:0;
    right:0;
    padding-top: .5rem;
    padding-right: .8rem;
}

/*
.card-footer .fa-times {
    color: #cc0000;
    padding-right: .5rem;
}

.card.completed .card-footer .fa-check {
    color: green;
    padding-right: .5rem;
}*/